$Red: #ff3b30ff;
$Orange: #ff9500ff;
$Yellow: #ffcc00ff;
$Green: #34c759;
$Teal: #5ac8faff;
$Blue: #007affff;
$Indigo: #5856d6ff;
$Purple: #af52deff;
$Pink: #ff2d55ff;
$Gray: #8e8e93ff;
$Gray_2: #aeaeb2ff;
$Gray_3: #c7c7ccff;
$Gray_4: #d1d1d6ff;
$Gray_5: #e5e5eaff;
$Gray_6: #f2f2f7ff;
$Primary: #000000ff;
$Secondary: #3c3c43;
$Tertiary: #3c3c434d;
$Quarternary: #3c3c432e;
